#todosPage {
  padding: 2em;
  font-family: sans-serif;
  background-color: #f7f7f7;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;

  .todo__form {
    display: flex;
    margin: 1em;

    input {
      flex-grow: 1;
    }
  }
  .todolist, .todo__form {
    // border-radius: 20px;
    // overflow: hidden;
    width: 90%;
    max-width: 700px;
    // margin: 2em 0;
  }

  .todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 1em;
    margin: 1em 0;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    p {
      margin: 0;
      text-decoration: italic
    }
  }

  .todo--completed {
    text-decoration: line-through;
    background-color: #c4c4c4;
    color: #5c5c5c;
  }

  .todo__cross {
    background-color: red;
    color: #fff;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
