<div id="todo" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/todo.less</em>, <em>assets/js/pages/todo.page.js</em>, and <em>api/controllers/view-todo.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
